@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-surface text-on-surface font-lexend antialiased;
    height: 100%;
    /* Disables overscroll bounce on mobile to stabilize scroll snapping */
    overscroll-behavior-y: none;

    /* Disable tap highlights for native app feel */
    -webkit-tap-highlight-color: transparent;
  }

  /* Allow text selection in inputs and textareas */
  input, textarea {
    -webkit-user-select: text;
    user-select: text;
  }
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
